.post__title {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__btn {
  margin: 0;
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
